<div id="favorite_form-<%= micropost.id %>">
<% if current_user.favorite?(micropost) %>
  <%= render 'users/unfavorite', micropost: micropost %>
<% else %>
  <%= render 'users/favorite', micropost: micropost %>
<% end %>
</div>
